[Unit]
Description=Project 2 Module 3 startup script 

[Service]
Type=simple
ExecStart=/home/pi/start_up_funcs.sh

[Install]
WantedBy=multi-user.target
